[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "*"
pandas = "*"
xdg = "*"
musichistory = {editable = true, path = "."}
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"

[dev-packages]
tabulate = "*"
black = "*"

[requires]
python_version = "3.10"
