[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "*"
pandas = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
click = "*"
oyaml = "*"
coloredlogs = "*"
musichistory = {editable = true, path = "."}
pendulum = "*"
xdg-base-dirs = "*"
psutil = "*"
loguru = "*"

[dev-packages]
tabulate = "*"
black = "*"
faker = "*"
pendulum = "*"
watchdog = "*"

[requires]
python_version = "3.12"
